.blue-gradient {
    background: -webkit-linear-gradient(50deg, #455c9e, #122f84) !important;
        background: -o-linear-gradient(50deg, #455c9e, #122f84) !important;
        background: linear-gradient(40deg, #455c9e, #122f84) !important;
    }
    
    .equal_height {
        height: 100px;
    }
    
    